<!-- deleteBoardModel -->
<div class="modal fade" tabindex="-1" role="dialog" id="DeleteBoardModel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p>Once you delete a board and all its Pins, you can't undo it!</p>
      </div>
      <div class="modal-footer">
        <form action="/deleteboard" method="POST">
            <input type="hidden" name="boardIdinDeleteBoardModel" value="">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete board</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->