<!-- saveModal -->
<div class="modal fade" id="mySaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Pick a board</h3>
            </div>
            <form role="form" action='/savephoto' method="POST">
                <div class="modal-body">
                    <div class="form-group">
                      <label>Boards list (select one):</label>
                      <select class="form-control boardlist" name="boardid">
                        <option value="" disabled selected>Choose a board</option>
                        <% if(currentUser.boards.length !== 0) { %>
                            <% currentUser.boards.forEach(function (board) { %>
                                <option value="<%= board._id %>"><%= board.title %></option>
                            <% }); %>
                        <% } %>
                      </select>
                      <input type="hidden" name="photofilename" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateBoardModal" style="float: left;">Create a Board</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="savetoboardbutton">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>