<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PicParadise - Home</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery-2.1.4.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./js/photogrid_utils.js"></script>
    <script>
    $(function () {
        var host = <%- JSON.stringify(host) %>;

        console.log(host);

        $(document).on('click', '#doUpload', function () {
            upLoadNow();
        })

        var socket = io(host);

        socket.on('status', function (data) {
            showStatus(data.msg, data.delay);
        });

        socket.on('doUpdate', function () {
            renderList();
        });

        function renderList () {
            $('.row').html('');

            $.ajax({
                url: host + '/getimages',
                type: "GET",
                success: function (data) {
                    var imageList = JSON.parse(data);

                    for(var i = 0; i < imageList.length; i++) {
                        var str = '<div class="col-sm-6 col-md-3">';
                        str += '<div class="thumbnail" id="photoList">';
                        str += '<img src="https://d1uev2sppo24zv.cloudfront.net/' + imageList[i].filename + '" alt="">';
                        str += '<div class="voteUpImg">';     
                        str += '<a href="#" data-photoid="' + imageList[i]._id + '" class="voteUp">';
                        str += '<p><img src="/img/voteup.png" alt="Click Here to Vote Up !">';
                        str += '<span>' + imageList[i].votes + '</span></p>';
                        str += '</a>';
                        str += '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="saveButton">Save</button>';
                        str += '</div>';
                        str += '</div>';
                        str += '</div>';

                        $('.row').append(str);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        renderList();

        function upLoadNow () {
            $('.progress').fadeIn(100);
            var uploadURL = host + '/upload';
            var uploadFile = $('.uploadPic');

            if(uploadFile.val() != '') {
                var form = new FormData();
                form.append("upload", uploadFile[0].files[0]);

                // Perform the AJAX POST requrest and send the file
                ajax({
                    method: 'post',
                    url: uploadURL,
                    success: function () {
                        $('.progress').fadeOut(200);
                        uploadFile.val('');
                    },
                    progress: function (event) {
                        if(event.lengthComputable) {
                            var perc = Math.round((event.loaded * 100) / event.total);
                            $('.progress').css('width', (perc + '%'))
                        }
                    },
                    payload: form
                });
            }
        }

        $(document).on('click', '.voteUp', function (e) {
            var that = $(this);

            $.ajax({
                url: host + '/voteup/' + that.data('photoid'),
                type: "GET",
                success: function (data) {
                    var parseData = JSON.parse(data);
                    that.find('span').html(parseData.votes);
                },
                error: function (error) {
                    console.log(error);
                }
            });

            return false;
        });

        $(document).on({
            mouseover: function () {
                $(this).find('#saveButton').show();
            },
            mouseout: function () {
                $(this).find('#saveButton').hide();
            }
        }, '#photoList');
        
        

    });
    </script>
</head>
<body>
    <div>
        <div>
            <h1>PicParadise - Home</h1>
        </div>
        <p class="userName"><%= user.username %></p>
        <a href="/logout" id="logOutBtn">Logout</a>

        <div class="controls">
            <input type="file" name="uploadPic" class="uploadPic">
            <button id="doUpload">Upload</button>
            <div class="progressBarDiv">
                <div class="progress"></div>
            </div>
            <h5 class="status"></h5>
        </div>

        <div>               
            <p><%= typeof flash != 'undefined' ? flash : '' %></p>
        </div>

        <!-- saveModal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateBoardModel">Create a Board</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <!-- CreateBoardModel -->
        <div class="modal fade" id="CreateBoardModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a board</h4>
              </div>
              <div class="modal-body">
                <form action="/board" method="POST">
                    <div class="form-group">
                        <input type="text" name="boardName" class="form-control" placeholder='Like "Place to Go" or "Furniture"'>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
        </div>
    </div>
</body>
</html>